 <mat-card>


<div class="example-container">

 <mat-form-field>
    <textarea disabled matInput #id placeholder="Task ID" value = "{{id2}}"></textarea>
  </mat-form-field>


 <mat-form-field>
    <textarea disabled matInput #date1 placeholder="Date" value = "{{date}}"></textarea>
  </mat-form-field>


 <mat-form-field>
    <textarea disabled matInput #description placeholder="Description" value="{{desc}}"></textarea>
  </mat-form-field>

   <mat-form-field>
    <textarea disabled matInput #comp placeholder="Complete?" value="{{complete}}"></textarea>
  </mat-form-field>

  <mat-form-field>
    <textarea disabled matInput #datecomp1 placeholder="Date Completed" value="{{datecomp}}"></textarea>
  </mat-form-field>


</div>
 </mat-card>


